<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.w3.org/1999/xhtml">
<span th:include="/commons/header"></span>
<!--main-->
<div class="right_col" role="main" style="min-height: 6631px;">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Hello2</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>
<!--main END-->
<span th:include="/commons/footer"></span>
